<?xml version="1.0"?>
<configuration>
  <connectionStrings>
   <!--   <add name="SystemCompanyEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SystemCompany.mssql.somee.com;initial catalog=SystemCompany;persist security info=True;user id=natisql;password=12213443;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
  <!--  <add name="SystemCompanyEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-PC;initial catalog=SystemCompany;persist security info=True;user id=sa;password=12213443;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
     <add name="SystemCompanyEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VSERVERSQL-PC;initial catalog=SystemCompany;persist security info=True;user id=sa;password=12213443;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
